.theme-wrapper {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .spacer {
      flex: 0 1 auto;
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1 0 auto;
      margin: auto;
      margin-top: 64px;
      overflow: hidden;
      min-width: 980px;
    }

    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    .content {
      margin-top: 56px !important;
    }
  }
}

.title-menu-gap {
  margin-left: 30px;
}
