<div class="theme-wrapper default-theme ">
  <mat-sidenav-container>
    <div class="wrapper">
      <div class="toolbar">
        <mat-toolbar color="primary">
          <span [routerLink]="['/']">Vehicle Manager</span>
          <span class="title-menu-gap spacer"></span>
          <button mat-button [routerLink]="['/cars']" routerLinkActive="active">
            <mat-icon svgIcon="car"></mat-icon> Cars
          </button>
          <button mat-button [matMenuTriggerFor]="new">
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu #new="matMenu">
            <button [routerLink]="['/cars/new']" mat-menu-item>Car</button>
          </mat-menu>
        </mat-toolbar>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <div class="row">
          <div class="col-sm-12 links">
            <span>Vehicle Manager</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year" data-testid="footer-year">{{thisYear}}</span> - dKosasih
            <br class="d-block d-sm-none">
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
