<h2>Add new car</h2>
<form [formGroup]="carForm">
  <div class="form-wrapper">
    <div>
      <mat-form-field>
        <input data-testId="make" matInput placeholder="Make" formControlName="make" autocomplete="off" required />
        <mat-error *ngIf="carForm.controls['make'].hasError('required')">Car manufacturer is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input data-testId="model" matInput placeholder="Model" formControlName="model" autocomplete="off" required />
        <mat-error *ngIf="carForm.controls['model'].hasError('required')">Car model is required</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input data-testId="engine" matInput placeholder="Engine" formControlName="engine" autocomplete="off" required />
      <mat-error *ngIf="carForm.controls['engine'].hasError('required')">Engine type is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input data-testId="bodyType" matInput placeholder="Body type" formControlName="bodyType" autocomplete="off" required />
      <mat-error *ngIf="carForm.controls['bodyType'].hasError('required')">Body type is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input data-testId="wheel" matInput [textMask]="{mask: numericMaskConfig(2)}" placeholder="Wheel (number of)" formControlName="wheel"  autocomplete="off"required />
      <mat-error *ngIf="carForm.controls['wheel'].hasError('required')">Number of wheel is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input data-testId="door" matInput [textMask]="{mask: numericMaskConfig(2)}" placeholder="Door (number of)" formControlName="door" autocomplete="off" required />
      <mat-error *ngIf="carForm.controls['door'].hasError('required')">Number of door is required</mat-error>
    </mat-form-field>

    <div class="button-control" style="width:30%">
      <div>
        <button data-testId="btnCancel" mat-button color="primary" (click)="returnToUrl()">Cancel</button>
      </div>
      <div class="pull-right">
        <button data-testId="btnSubmit" mat-raised-button color="primary" [disabled]="carForm.invalid || formBusy" (click)="save()">Submit</button>
      </div>
    </div>
  </div>
</form>
