.form-wrapper {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 30%;
  }
}

.button-control {
  display: flex;
  flex-direction: row;

  width: 30%;
}

.pull-right {
  margin-left: auto;
}
