<mat-list *ngIf="cars && cars.length > 0; else noCar">
  <h3 mat-subheader>Cars list</h3>
  <mat-list-item data-testId="carItem" *ngFor="let car of cars">
    <h4 mat-line><mat-icon svgIcon="car"></mat-icon> {{car.make}} {{car.model}}</h4>
    <p mat-line> Luxurious {{car.bodyType}} with {{car.engine}} technology</p>
  </mat-list-item>
</mat-list>
<ng-template #noCar>
  <p data-testId="noCar" class="no-list">
    No car(s) listed!
  </p>
</ng-template>
